---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

body {
  margin: 0;
  font-family: sans-serif;  
  background-color: #FFF;
  background-image: none; 
}

.container {
  margin: auto;
  padding: 0 10px;
  width: 100%;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

///
/// missing
///

one {color: #FFFFFF;}
one-darker {color:#FAFAFA;}

two-lighter {color:#B0B0B0;}
two {color:#AAAAAA;}
two-darker {color:#A2A2A2;}

mid {color:#7F7F7F;}

three-lighter {color:#595959;}
three {color:#555555;}
three-darker {color:#505050;}

four-lighter {color:#090909;}
four {color: #000000;}

option {
  padding:0;
}

input[type="range"] {
  width: 1000px;
  writing-mode: vertical-lr;
  margin: 0;
  transform: rotate(180deg);
  position: fixed;
  top: 10px;
  right: 10px;
  height: 93vh;
  width: 20px;
  z-index: 9999;
}

.mparent {
  width: 100%;
  left:0;
  display:block;
}

.mchild {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  left:0;
  display: block;
  pointer-events: none;
}

.moverlay {
  z-index: 1;
  mix-blend-mode: difference;
}

.aoverlay {
  z-index: 3;
  mix-blend-mode: exclusion;
}

.boverlay {
  z-index: 3;
  mix-blend-mode: darken;
}

.coverlay {
  z-index: 3;
  mix-blend-mode: lighten;
}

.overlaytext {
  position: absolute;
  z-index: 10;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center; /* centers each line's content */
}

.description {
  margin-top: 10px;
  padding: 10px;
  background: #eee;
}