---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  color: $myGray;
  font: 18px/1.4 $nunito;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  background: $white;
  background-image: url("/images/bg.png");
  background-repeat: repeat;
  font: 18px/1.4 $nunito;
  color: $myGray;
  height: 100%;
}

banner-load {
  background: $white;
}

.container {
  margin: auto;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $georgia;
  color: $myGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 0.2em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

jp {
  font-family:$zenKakuGothicNew;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

/* ===================
    Hyperlink styling
   =================== */
a:link {
  text-decoration: none;
  color:$myGray;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
  color:$myGray;
}
a:hover {
  text-decoration: none;
  color:$blue;
}
a:active {
  text-decoration: none;
  color:$myGray;
}

a.title:link {
  text-decoration: none;
  color:$white;
  font-weight: normal;
}
a.title:visited {
  text-decoration: none;
  color:$white;
}
a.title:hover {
  text-decoration: none;
  color:$myYellow;
}
a.title:active {
  text-decoration: none;
  color:$myGray;
}

a.reallink:link {
  text-decoration: none;
  color:$white;
  font-weight: normal !important;
}
a.reallink:visited {
  text-decoration: none;
  color:$white;
}
a.reallink:hover {
  text-decoration: none;
  color:$myYellow;
  font-weight: normal !important;
}
a.reallink:active {
  text-decoration: none;
  color:$myGray;
  font-weight: normal !important;
}

a.footerlink:link {
  text-decoration: none;
  color:$white;
}
a.footerlink:visited {
  text-decoration: none;
  color:$white;
}
a.footerlink:hover {
  text-decoration: none;
  color:$myYellow;
}
a.footerlink:active {
  text-decoration: none;
  color:$white;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $myGray;
}

// Specify the color of the selection
::-moz-selection {
  color: $myGray;
  background: $lightGray;
}
::selection {
  color: $myGray;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

hr {
  border-top: 1px dashed $myGray;
  width: 100%;
  margin-top:20px;
  margin-bottom:20px;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 40px;
  justify-content: center;
}

.site-content {
  flex: 1;
}

.site-name {
  margin: 0;
  color: $myGray;
  cursor: pointer;
  font-family: $georgia;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $myGray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $georgia;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $myGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $darkGray;
    padding: 0.1em 1em;
    color: $myGray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.title {
  white-space: nowrap;
  padding: 0.2em 0em 0.2em 0em;
  border-radius: 0.25em;
  color: $white;
  background-color: $myGray;
  text-align: center;
  font-size: 2vw;
  font-family: $newRocker;
}
.title:hover {
  /*box-shadow: $myGray 0 0 0 0.1em;*/
  color: $myYellow;
}

.passagetitle {
  white-space: nowrap;
  padding: 0.5em 0em 0.5em 0em;
  border-radius: 0.25em;
  color: $white;
  background-color: $myGray;
  text-align: center;
  font-size: 100%;
}
.passagetitle:hover {
  /*box-shadow: $myGray 0 0 0 0.1em;*/
  color: $myYellow;
}

.passage {
  border-radius: 0.3em;
  margin:0;
  padding:1.5em;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  border: solid $myGray 0.05em;
  box-shadow: $myGray 0.5em 0.5em 0;
  line-height: 1.7;
}

.caption {
  font-style:italic;
  color:$myGray;
  font-weight:normal;
  font-size:85%;
  width:100%;
  text-align: center;
  padding:1.0em;
}

falselink {
  display: inline-block;
  font-family: $georgia;
  border: dashed $myGray 0.05em;
  white-space: wrap;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  color:$myGray;
  background-color: $white;
  font-weight: normal;
  vertical-align: middle !important;
  line-height: 1.2;
  margin-bottom: 0.2em;
}

falselink:hover {
  background-color: $myYellow;
}

reallink {
  font-family: $georgia;
  border: none;
  white-space: nowrap;
  padding: 0.3em 0.3em 0.2em 0.3em;
  border-radius: 0.5em;
  color: $white;
  background-color: $myGray;
  vertical-align: middle !important;
  line-height:2em;
}

reallink:link {
  color: $white;
  font-weight: normal !important;
}

reallink:hover {
  color: $myYellow;
}

reallink:visited {
  color: $white;
}

reallink:active {
  color: $white;
}

.scrollbox {
  height: 300px;
  line-height: 2em;
  overflow: scroll;
  padding: 0.3em 0.3em 0.2em 0.3em;
  background-color: $white;
  border: 0.05em dashed $myGray;
  border-radius: 0.5em;
  white-space: normal;
  vertical-align: top;
  overflow: auto;
}

.scrollbox-big {
  height: 450px;
  line-height: 2em;
  overflow: scroll;
  padding: 0.3em 0.3em 0.2em 0.3em;
  background-color: $white;
  border: 0.05em dashed $myGray;
  border-radius: 0.5em;
  white-space: normal;
  vertical-align: top;
  overflow: auto;
}

.footerlink {
  border: none;
  white-space: nowrap;
  border-radius: 0.5em;
  color: $white;
  background-color: $myGray;
  text-align: center;
}

.wrapper-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height:40px;
  background-color: $myGray;
  color: $white;
  z-index: 1000;
}

footer {
  padding: 8px 16px 35px 16px;
  color: $white;
}

.left {float:left;}
.right {float:right;}

.wrapper-header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $myGray;
  color: $white;
  width: 100%;
}

header {
  padding-top: 8px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table; 

}

/* For desktop: */
.passage-1 {width: 8.33%;}
.passage-2 {width: 16.66%;}
.passage-3 {width: 25%;}
.passage-4 {width: 33.33%;}
.passage-5 {width: 41.66%;}
.passage-6 {width: 50%;}
.passage-7 {width: 58.33%;}
.passage-8 {width: 66.66%;}
.passage-9 {width: 75%;}
.passage-10 {width: 83.33%;}
.passage-11 {width: 91.66%;}
.passage-12 {width: 100%;}

[class*="passage-"] {
  float: left;
  padding: 15px;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em 2em 0;
}

.photo {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid $myGray;
  box-shadow: 0.25em 0.25em 0 $myGray;
  object-fit: scale-down;
  flex: 0 0 auto;
}

.fade-in{
  -webkit-animation: fade-in .3s ease;
  -moz-animation: fade-in ease-in-out .3s both;
  -ms-animation: fade-in ease-in-out .3s both;
  -o-animation: fade-in ease-in-out .3s both;
  animation: fade-in .3s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

iframe {
  aspect-ratio:16/9;
  width:100% !important;
}

details {
  border: 1px dashed $myGray;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px dashed $myGray;
  margin-bottom: 0.5em;
}

.icon {
  display: inline-block;
  width: 1.25em;
  height: 1em;
  padding-top: 0.05em;
  stroke-width: 0;
  stroke: $myYellow;
  color: $myYellow !important;
  fill: $myYellow;
  max-width: 100%;
  border-width: 0px;
  border-style: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile */
  [class*="passage-"] {
    width: 100%;
  }
  .title {
    font-size: 4vw;
  }
  .imgContainer {
    gap: 1em;
  }
  .photo {
    flex: 1 1 100%;
  }
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
